CMakeLists.txt.user
CMakeLists.txt
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Assesments/StringUtilityClass/.idea/.gitignore
Assesments/StringUtilityClass/.idea/aws.xml
Assesments/StringUtilityClass/.idea/misc.xml
Assesments/StringUtilityClass/.idea/modules.xml
Assesments/StringUtilityClass/.idea/StringUtilityClass.iml
Assesments/StringUtilityClass/.idea/vcs.xml
Assesments/StringUtilityClass/cmake-build-debug/.ninja_deps
Assesments/StringUtilityClass/cmake-build-debug/.ninja_log
Assesments/StringUtilityClass/cmake-build-debug/build.ninja
Assesments/StringUtilityClass/cmake-build-debug/StringUtilityClass
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/query/cache-v2
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/reply/cache-v2-dc52f51a2bdb49274afa.json
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-3244a6fb0e719c0d2265.json
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b4e825eb3187654ff473.json
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/reply/index-2024-02-16T23-36-26-0306.json
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/reply/target-StringUtilityClass-Debug-6ebffd6a1c4c96c3737f.json
Assesments/StringUtilityClass/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7908ad211abb8eeafc96.json
